@import "tailwindcss"; 

@theme{
  --color-azul-claro: #82BEDD;
  --color-gris-oscuro: #4D5357;
  --color-blanco: #BECED6;
  --color-azul-oscuro: #334B57;
  --color-gris-claro: #919DA3;
  --color-azul-fuerte: #007799;
  --color-gris-claro: #E8E8E8;
  --color-gris-oscuro: #D9D9D9;
} 
@layer utilities{  /* esta clase está hecha para añadir clases personalizadas de css, yo imagino que se puede usar para neumorphismo
  o para otras herramientas que no usen directamente tailwind, ejemplo: */

  .perfil-nav {
  z-index: 1000;
}
  .clase-ejemplo{
    background-color: red;
  }
}