@import "tailwindcss"; 

@theme{
  
  --color-azul-claro: #5DA5F5;
  --color-azul-medio: #369FF5;
  --color-azul-hover: #4274AD;
  --color-azul-oscuro: #194970;

  --color-verde-ultra-claro: #E3FFD9;
  --color-verde-claro: #4EB353;
  --color-verde-oscuro: #419445;

  --color-rojo-ultra-claro: #FFE2E2;
  --color-rojo-claro: #F45053;
  --color-rojo-oscuro: #A83839;

  --color-amarillo-claro: #D6CA4E;
  --color-amarillo-oscuro: #BCB350;
  
  --color-gris-ultra-claro: #E5E7EB;
  --color-gris-claro: #A2A6AB;
  --color-gris-oscuro: #8A8D91;
  --color-gris-ultra-oscuro: #8F9296;
} 
@layer utilities{  

  .perfil-nav {
  z-index: 1000;
}

  input:focus,
  select:focus,
  textarea:focus {
  outline: 2px solid #369FF5;
  border: none;
}

  button:hover,
  select:hover{
    cursor: pointer;
  }

  html{
    
  }
}
